root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

[*.{csproj,props,targets,xml,xaml,json,yml,yaml}]
indent_size = 2

[*.{js,html,css}]
indent_size = 2

[*.cs]
csharp_style_namespace_declarations = file_scoped:suggestion
csharp_prefer_braces = when_multiline:suggestion
dotnet_style_qualification_for_field = false:suggestion
dotnet_diagnostic.CA1416.severity = none
